<!DOCTYPE html>
<html lang="en">
    <head>
        {% load url from future %}
        <!-- Le styles -->
        <link href="{{STATIC_URL}}/css/bootstrap/css/bootstrap.css" rel="stylesheet">
        <script type="text/javascript" src="{{STATIC_URL}}/css/bootstrap/js/jquery-1.7.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}/css/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#tabs').tab();
            });
        </script>
        <title>Dispense Prescription</title>
    </head>
 
    <body>
        <blockquote>
            <h1><a href="">Dispense Prescription</a></h1>
            <h2 class="text-center">{{prescription}}</h2>
        </blockquote>
        <div class="container">
            {% if message %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Note: </strong>{{message}}
                </div>
            {% endif %}

            <h4>Prescription Information</h4>
            <div class="well well-small">
                {% for key, value in form.viewitems %}
                    <p>{{ key }}: {{ value }}</p>
                {% endfor %}

                {% for field in fields %}
                <p>{{ field.label }}: {{field.value}}</p>
                {% endfor %}

                <p>Date Created: {{ date_created }}</p>
                <p>Last Modified: {{ date_modified }}</p>
            </div>

            <h4>Drugs</h4>
            <table class="table table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Drug & Concentration</th>
                        <th scope="col">Form</th>
                        <th scope="col">Schedule</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Substitutions</th>
                        <th scope="col">Refills</th>
                    </tr>
                </thead>

                <tbody>
                    {% for form in rxform.forms %}
                        <tr id="{{ form.prefix }}-row">
                            <td>
                                {{ form.drug_name.value }}
                            </td>
                            <td>{{ form.drug_form.value }}</td>
                            <td>{{ form.drug_schedule.value }}</td>
                            <td>{{ form.drug_quantity.value }}</td>
                            <td>{{ form.drug_substitution.value }}</td>
                            <td>{{ form.refills.value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        <form method="post" action="/erx/pharmacy/dispense/{{rx_id}}/">{%csrf_token%}
            <input type='hidden' name='rx_id' value="{{rx_id}}">
            <input type="submit" class="btn btn-warning" value="Dispense">
            <input class="btn btn-info" type="button" value="Cancel" onClick="history.go(-1);return true;">
        </form>

        </div> <!-- container -->
        <br><hr>
        <p><small>Dispense Prescription page</small></p>
    </body>
</html>
