<html>
{% load url from future %}
<h1> {{ message }} </h1>


{% for drug in list %}
<li>
<a href="{% url 'erx:select' drug.rxaui %}">{{ drug }}</a>
</li>
<br>
{% endfor %}

{% for patient in patients %}
<li>
<a href="{% url 'erx:handle_patient' patient.patient_id %}">{{ patient }}</a>
</li>
<br>
{% endfor %}

{% for pharmacy in pharmacies %}
<li>
<a href="{% url 'erx:handle_pharmacy' pharmacy.pharmacy_id %}">{{ pharmacy }}</a>
</li>
<br>
{% endfor %}

{% for prescriber in prescribers %}
<li>
<a href="{% url 'erx:handle_prescriber' prescriber.prescriber_id %}">{{ prescriber }}</a>
</li>
<br>
{% endfor %}


{% for prescription in prescriptions %}
<li>
<a href="{% url 'erx:handle_prescription' prescription.rx_id %}">{{ prescription }}</a>
</li>
<br>
{% endfor %}

<br><br><hr><p>Done page.</p>
</body>
</html>

