<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="{{ STATIC_URL }}css/manual.css" rel="stylesheet" type="text/css"/>
        {% load url from future %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
        <script>
        	$(document).ready(function(){

				$('ul.tabs').each(function(){
					var $active, $content, $links = $(this).find('a');

					$active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
					$active.addClass('active');

					$content = $($active[0].hash);

					$links.not($active).each(function () {
						$(this.hash).hide();
					});

					$(this).on('click', 'a', function(e){
						$active.removeClass('active');
						$content.hide();

						$active = $(this);
						$content = $(this.hash);

						$active.addClass('active');
						$content.show();

						e.preventDefault();
					});
				});

			});
        </script>
        
        <title>Create Patient View</title>
    </head>

    <body>
        <h1>New Patient</h1><br>
        <h4>Enter patient information.</h4><br>

        <ul class='tabs'>
            <li><a href='#tab1'>Profile</a></li>
            <li><a href='#tab3'>Medical History</a></li>
            <li><a href='#tab5'>Contact Information</a></li>
        </ul>

        <form method="post" action=".">{%csrf_token%}
            <div class='tabs' id='tab1'>
                <p>Enter basic patient information.</p>

                <table border="0" style="width:500px; border-spacing:5px; padding:5px;">
                    {% for field in p_basic %}
                        <tr>
                            <td>{{field.label}}:</td>
                            <td>{{field}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class='tabs' id='tab3'>
                <p>Enter known medical history.</p>

                <table border="0" style="width:500px; border-spacing:5px; padding:5px;">
                    {% for field in p_med %}
                        <tr>
                            <td>{{field.label}}:</td>
                            <td>{{field}}</td>                        
                        </tr>
                    {% endfor %}
                </table>
            </div>


            <div class='tabs' id='tab5'>
                <p>Enter patient's contact information.</p>

                <table border="0" style="width:500px; border-spacing:5px; padding:5px;">
                    {% for field in p_contact %}
                        <tr>
                            <td>{{field.label}}:</td>
                            <td>{{field}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div><br>
            <input class="myButton" type="submit" value="Submit" name="submit">
            <input class="myButton" type="button" value="Cancel" onClick="history.go(-1);return true;">
            <input class="myButton" type="reset" value="Clear">
        </form>
    </body>

<br><br><hr><p>New Patient page.</p>
</html>
