<html>
<h1>New Patient</h1><hr>
<p>Please enter new patient information below.</p><br>
<body>
<form action="." method="post">{% csrf_token %}

{{ form.as_p }}

<input type="submit" value="Submit">
</form>

<br><br><hr><p>New patient page.</p>
</body></html>



<!--


First name: <input type="text" name="firstname"><br>
Last name: <input type="text" name="lastname"><br>
<input type="radio" name="sex" value="male">Male<br>
<input type="radio" name="sex" value="female">Female<br>
Address: <input type="text" name="address"><br>
City: <input type="text" name="city"><br>
State: <input type="text" name="state"><br>
Zipcode: <input type="text" name="zipcode"><br>
Telephone: <input type="text" name="telephone"><br>
Email: <input type="text" name="firstname"><br> 
-->


