<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Le styles -->
        <link href="{{STATIC_URL}}css/bootstrap/css/bootstrap.css" rel="stylesheet">
        <script type="text/javascript" src="{{STATIC_URL}}css/bootstrap/js/jquery-1.7.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}css/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#tabs').tab();
            });
        </script>
        <title>Old Prescription</title>
    </head>
 
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">ePrescription-as-a-Service</a>
            </div>

          </div><!--container-fluid-->
        </div><!--navbar navbar-inverse navbar-fixed-top--><br><br>

        <blockquote>
            <h2><a href="">Archived Prescription</a></h2>
            <h3 class="text-center">{{prescription}}</h3>
        </blockquote>
        <div class="container">
            {% if message %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Note:</strong>{{message}}
                </div>
            {% endif %}

            <h4>Prescription Information</h4>
            <div class="well well-small">
                {% for key, value in form.viewitems %}
                    <p>{{ key }}: {{ value }}</p>
                {% endfor %}

                {% for field in fields %}
                <p>{{ field.label }}: {{field.value}}</p>
                {% endfor %}

                <p>Date Created: {{ date_created }}</p>
                <p>Last Modified: {{ date_modified }}</p>
            </div>

            <h4>Drugs</h4>
            <table class="table table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Drug & Concentration</th>
                        <th scope="col">Form</th>
                        <th scope="col">Schedule</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Substitutions</th>
                        <th scope="col">Refills</th>
                    </tr>
                </thead>

                <tbody>
                    {% for form in rxform.forms %}
                        <tr id="{{ form.prefix }}-row">
                            <td>
                                {{ form.drug_name.value }}
                            </td>
                            <td>{{ form.drug_form.value }}</td>
                            <td>{{ form.drug_schedule.value }}</td>
                            <td>{{ form.drug_quantity.value }}</td>
                            <td>{{ form.drug_substitution.value }}</td>
                            <td>{{ form.refills.value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        <input class="btn btn-info" type="button" value="Return" onClick="history.go(-1);return true;">
        </div> <!-- container -->

    </body>
</html>
