<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="{{ STATIC_URL }}css/manual.css" rel="stylesheet" type="text/css"/>
        {% load url from future %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
        <script>
        	$(document).ready(function(){
				$('ul.tabs').each(function(){
					var $active, $content, $links = $(this).find('a');

					$active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
					$active.addClass('active');

					$content = $($active[0].hash);

					$links.not($active).each(function () {
						$(this.hash).hide();
					});

					$(this).on('click', 'a', function(e){
						$active.removeClass('active');
						$content.hide();

						$active = $(this);
						$content = $(this.hash);

						$active.addClass('active');
						$content.show();

						e.preventDefault();
					});
				});
			});

        </script>
        
        <title>Prescriber Patient View</title>
    </head>

    <body>
        <h1>Patient: {{patient}}</h1>

        <ul class='tabs'>
            <li><a href='#tab1'>Profile</a></li>
            <li><a href='#tab2'>Prescriptions</a></li>
            <li><a href='#tab3'>Medical History</a></li>
            <li><a href='#tab4'>Lab History</a></li>
            <li><a href='#tab5'>Contact Information</a></li>
        </ul>

        <div class='tabs' id='tab1'>
            <p>Hi, this is the Profile tab.</p>

            <table border="0" style="width:500px; border-spacing:5px; padding:5px;">
                {% for field in p_profile %}
                    <tr>
                        <td><p>{{field.label}}</p></td>
                        <td><p>{{field.value}}</p></td>
                    </tr>
                {% endfor %}
            </table>
            <a class='PrescriberHome' href="/erx/patient/{{patient.patient_id }}">Update Profile</a>
        </div>

        <div class='tabs' id='tab2'>
            <p>This is the Prescriptions tab.</p>

            <table border="0" style="width:500px; border-spacing:5px; padding:5px;">
                {% for prescription in prescriptions %}
                    <tr>
                        <a href="{% url 'erx:handle_prescription' prescription.rx_id %}">{{ prescription }}</a>
                    </tr>
                {% endfor %}
            </table>
            <a class='PrescriberHome' href="/erx/rx/newForPatient/{{patient.patient_id }}">New Prescription</a>
        </div>

        <div class='tabs' id='tab3'>
            <p>And this is the Medical History tab.</p>

            <table border="0" style="width:500px; border-spacing:5px; padding:5px;">
                {% for field in p_med %}
                    <tr>
                        <td><p>{{field.label}}</p></td>
                        <td><p>{{field.value}}</p></td>                        
                    </tr>
                {% endfor %}
            </table>
            <a class='PrescriberHome' href="/erx/patient/{{patient.patient_id }}">Update Profile</a>
        </div>

        <div class='tabs' id='tab4'>
            <p>And this is the Lab History tab.</p>

            <table border="0" style="width:500px; border-spacing:5px; padding:5px;">
                {% for field in p_lab_hist %}
                    <tr>
                        <td><p>{{field.label}}</p></td>
                        <td><p>{{field.value}}</p></td>                        
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class='tabs' id='tab5'>
            <p>And this is the Contact Information tab.</p>

            <table border="0" style="width:500px; border-spacing:5px; padding:5px;">
                {% for field in p_contact %}
                    <tr>
                        <td><p>{{field.label}}</p></td>
                        <td><p>{{field.value}}</p></td>
                    </tr>
                {% endfor %}
            </table>
            <a class='PrescriberHome' href="/erx/patient/{{patient.patient_id }}">Update Profile</a>
        </div>

        <br><a class='myButton' href="/erx/prescriber/home">Home</a><br>

    <notice>{{message}}</notice>

    </body>

<br><br><hr><p>Prescriber Patient page.</p>
</html>
