<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="{{ STATIC_URL }}css/manual.css" rel="stylesheet" type="text/css"/>
        {% load url from future %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
        <script>
        	$(document).ready(function(){
				$('ul.tabs').each(function(){
					var $active, $content, $links = $(this).find('a');

					$active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
					$active.addClass('active');

					$content = $($active[0].hash);

					$links.not($active).each(function () {
						$(this.hash).hide();
					});

					$(this).on('click', 'a', function(e){
						$active.removeClass('active');
						$content.hide();

						$active = $(this);
						$content = $(this.hash);

						$active.addClass('active');
						$content.show();

						e.preventDefault();
					});
				});
			});

        </script>
        
        <title>Prescriber Home</title>
    </head>

    <body>
        <h1>Welcome {{prescriber}}</h1>

        <ul class='tabs'>
            <li><a href='#tab1'>Patients</a></li>
            <li><a href='#tab2'>Prescriptions</a></li>
            <li><a href='#tab3'>Profile</a></li>
        </ul>

        <div class='tabs' id='tab1'>
            <p>Hi, this is the Patients tab.</p>

            {% for patient in my_patients %}
                <li>
                    <a href="{% url 'erx:handle_patient' patient.patient_id %}">{{ patient }}</a>
                </li>
                <br><hr>
            {% endfor %}
            <br>
            <a class='PrescriberHome' href="/erx/patient/newForPrescriber/{{ prescriber.prescriber_id }}">New Patient</a>
        </div>

        <div class='tabs' id='tab2'>
            <p>This is the Prescriptions tab.</p>
            {% for prescription in my_prescriptions %}
            <li>
            <a href="{% url 'erx:handle_prescription' prescription.rx_id %}">{{ prescription }}</a>
            </li>
            <br><hr>
            {% endfor %}
            <br>
            <a class='PrescriberHome' href="/erx/rx/newForPrescriber/{{ prescriber.prescriber_id }}">New Prescription</a>

        </div>

        <div class='tabs' id='tab3'>
            <p>And this is the Profile tab.</p>

            <table border="0" style="width:500px; border-spacing:5px; padding:5px;">
                {% for field in my_profile %}
                    <tr>
                        <td>{{field.label}}</td>
                        <td>{{field.value}}</td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            <a class='PrescriberHome' href="/erx/prescriber/{{ prescriber.prescriber_id }}">Modify</a>

        </div>
    </body>

<br><br><hr><p>Prescriber home page.</p>
</html>
