<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Le styles -->
        <link href="{{STATIC_URL}}/css/bootstrap/css/bootstrap.css" rel="stylesheet">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}/css/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#tabs').tab();
            });
        </script>
        <title>View Patient</title>
    </head>
 
    <body>
        <blockquote>
            <h1><a href=".">{{patient}}</a></h1>


        <a class="btn btn-small" href="/erx/prescriber/home"><i class="icon-home"></i> Home</a>
        </blockquote>
        <div class="container">
             
            <!-------->
            <div id="content">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
                    <li><a href="#prescriptions" data-toggle="tab">Prescriptions</a></li>
                    <li><a href="#medh" data-toggle="tab">Medical History</a></li>
                    <li><a href="#labh" data-toggle="tab">Lab History</a></li>
                    <li><a href="#contact" data-toggle="tab">Contact Information</a></li>
                </ul>

                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="profile">
                        <h2>Patient Profile</h2>
                        <p>Hi, this is the Patient's profile.</p>
                        <table class="table table-striped table-condensed">
                            {% for field in p_profile %}
                                <tr>
                                    <td><p>{{field.label}}</p></td>
                                    <td><p>{{field.value}}</p></td>
                                </tr>
                            {% endfor %}
                        </table>
                        <a href="/erx/patient/{{patient.patient_id }}" class="btn btn-warning">Modify Profile</a>
                    </div>

                    <div class="tab-pane" id="prescriptions">
                        <h2>Prescriptions</h2>
                        <p>This is the Prescription history.</p>
                        <div class="well">
                            {% for prescription in prescriptions %}
                                <li>
                                    <a href="{% url 'erx:handle_prescription' prescription.rx_id %}">{{ prescription }}</a>
                                </li>
                            {% endfor %}
                        </div>
                        <a href="/erx/rx/newForPatient/{{patient.patient_id }}" class="btn btn-info">New Prescription</a>
                    </div>

                    <div class="tab-pane" id="medh">
                        <h2>Medical History</h2>
                        <p>And, this is the Patient's Medical History.</p>
                        <table class="table table-striped table-condensed">
                            {% for field in p_med %}
                                <tr>
                                    <td><p>{{field.label}}</p></td>
                                    <td><p>{{field.value}}</p></td>
                                </tr>
                            {% endfor %}
                        </table>
                        <a href="/erx/patient/{{patient.patient_id }}" class="btn btn-warning">Modify Profile</a>
                    </div>

                    <div class="tab-pane" id="labh">
                        <h2>Lab History</h2>
                        <p>This is the patient's known lab history.</p>
                            <table class="table table-striped table-condensed">
                                {% for field in p_lab_hist %}
                                    <tr>
                                        <td><p>{{field.label}}</p></td>
                                        <td><p>{{field.value}}</p></td>
                                    </tr>
                                {% endfor %}
                            </table>
                    </div>

                    <div class="tab-pane" id="contact">
                        <h2>Contact Information</h2>
                        <p>This is the patient's contact information.</p>
                        <table class="table table-striped table-condensed">
                            {% for field in p_contact %}
                                <tr>
                                    <td><p>{{field.label}}</p></td>
                                    <td><p>{{field.value}}</p></td>
                                </tr>
                            {% endfor %}
                        </table>
                        <a href="/erx/patient/{{patient.patient_id }}" class="btn btn-warning">Modify Profile</a>
                    </div>


                </div><!--my-tab-content-->
            </div><!--content-->

            {% if message %}
                <div class="alert">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Warning!</strong>{{message}}
                </div>

                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error!</strong>{{message}}
                </div>

                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Success!</strong>{{message}}
                </div>

                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Note:</strong>{{message}}
                </div>
            {% endif %}
        </div> <!-- container -->
<br><hr>
<p><small>Prescriber Patient Page</small></p>
    </body>
</html>
